//variables
$categorieweight: bold;
$categoriesize: 20px;
$italic: italic;
//mixins
@import "_mymixins.scss";

body {
    background-image: linear-gradient(to right, green , white,red,);
    margin: 0;
    padding: 0;
    font-family: serif;
}

nav{
  width: 100%;
  background:darkred;
  }
  
  .navbar{
  width: 80%;
  margin: 0 auto;
  position: relative;
  right: 20px;
  }
  
  .navbar li{
  list-style: none;
  display: inline-block;
  padding: 20px;
  }
  
  .navbar li:hover{
  background: darkgreen;
  }
  
  .navbar li a{
  color: #fff;
  text-decoration: none;
  }
  
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid darkred;
 }

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

#boissons , #entrées, #pâtes, #pizzas, #viandespoissons, #desserts {
    font-weight: $categorieweight;
    font-size: $categoriesize;
    padding-bottom: 2em;
    padding-top: 2em;
    text-align: center;
    border: 3px solid none;
    @include border-radius;
    background-color:darkred;
    display: inline;
    color: white;
    position: relative;
    right: 15px;
}

.accompagnement {
  font-style: $italic;
  text-align: center;
  padding-top: 1em;
}

.souscatego {
  font-style: italic;
  font-weight: bold;
  padding-top: 2em;
  padding-bottom: 1em;
  text-decoration: underline;
}

.list-group {
  padding-top: 2em;
  padding-bottom: 2em;
}

#infos {
  border: 2px solid darkred;
  background-color: darkred;
  color: white;
  margin: auto;
}

.foot-title {
  font-weight: $categorieweight;
  font-style: $italic;
}

.icon {
  height: 3em;
  width: 3em;
}

  @media (max-width:768px){
  .navbar{
  width:100%;
  }
  .navbar li{
  display: block;
  text-align: center;
  }
  }
  
